[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

appsettings.Development.json
appsettings.*.json
!appsettings.json
*.secrets.json
.env

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/